#main-page {
    margin-top: 14vh;
    height: 87vh;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 426px) {
    #main-page-grid {
        display: block;
    }
    
    #top-creators-list {
        display: none;
    }
}