.comment {
    display: flex;
    margin-top: 2rem;
}

.replies {
    display: flex;
    margin-top: 2rem;
    margin-left: 3.8rem;
}

.MuiAvatar-img .comment-avatar {
    height: 85%;
    width: 85%;
    border-radius: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.comment-body {
    font-size: 0.9rem;
}

.reply {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    color: #0000008a;
    font-weight: 500;
    width: 2rem;
}

.reply:hover {
    cursor: pointer;
    color: #000000a3;
}

.reply-active {
    background-color: #0000000f;
    width: 2.65rem;
    padding: 4px 5px 6px;
    border-radius: 2.5px;
}

.reply-input {
    margin-left: 3.8rem;
    margin-top: 2rem;
    height: 2rem;
}