html {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #F9FAFC;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}